.card {
    
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 5px gray;  
    width: 280px;
    margin: 50px auto;
    text-align: center;
    font-style: italic;
}

.cuerpo {
    display: inline-block;
    margin: 0 10px;
}

.boton {
    float: right;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 3px;
}

.boton:hover {
    background-color: #fff;
}

